<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles.css}">
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #256180;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover:not(.active) {
            background-color: #4793B9;
        }
    </style>
</head>
<body>
<header th:insert="fragments.html :: heading"></header>
<h1>Student Name: <span th:text="${student.firstName}"></span> <span th:text="${student.lastName}"></span></h1>
<h2>Student ID: <span th:text="${student.studentID}"></span></h2>
<div>
    <table class="center">
        <tr>
            <th>NoteID</th>
            <th>Text</th>
            <th>Date</th>
        </tr>
        <tr th:each="note, iterationCount: ${notes}"
            th:class="${iterationCount.odd}? 'odd'" th:object="${note}">
            <td th:text="*{noteID}"></td>
            <td th:text="*{text}"></td>
            <td th:text="*{dateOfCreation}"></td>
        </tr>
    </table>
</div>
<footer th:replace="fragments.html :: languages"></footer>
</body>

</html>